<div style="width: 98%;">

  <div>
    <div class="row mx-3 mb-3">

      <div class="col-2" style="margin-bottom: 10px; margin-top: 20px;">
        <div class="row">
          <div class="col-6 mt-2 font-weight-bold fs-6">
            <span matTooltip="Search will work on First Name, Last Name, User Name, Email,
            IsActive" translate>Search User</span> :
            
          </div>
          <div class="col-6">
            <input type="text" class="form-control" (keyup)="searchUser($event)" placeholder="{{ 'Search' | translate }}" #input>
          </div>
        </div>
      </div>

      <div class="col-1">
      </div>
      <div class="col-1">
      </div>
      <div class="col-1">
      </div>
      <div class="col-1">
      </div>
      <div class="col-2" style="width:18% !important;">
      </div>
      <div class="col-2 style=width:18% !important;">
      </div>
      <div class="col-3" style="width: 15%;">
        <button mat-raised-button color="primary" (click)="openDialog()" dir="ltr"
          style="margin-bottom: 10px; margin-top: 20px;" class="mx-3">
          <label translate>Add User</label></button>
      </div>

    </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mx-3 bottom-border" matSort
    (matSortChange)="onSortChange($event)">
    <!-- Dynamically generate columns -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header translate>
        <span translate>ID</span>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header translate>
        <span translate>First Name</span>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header translate>
        <span translate>Last Name</span>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header translate>
        <span translate>User Name</span>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header translate>
        <span translate>Email</span>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header translate>
        <span translate>Status</span>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef translate>
        <span translate> Role(s)</span>
      </th>
      <td mat-cell *matCellDef="let element">{{element.userRoles}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef translate>
        <span translate> Actions</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="openDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteUser(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div style="width: 102%;">
    <mat-paginator #paginator [pageSize]="pageSize" [showFirstLastButtons]="true" [length]="totalItems"
      [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>