<div class="mt-5 mx-4">
    <h1>User Management System for Admin and User Roles </h1>
    <h2>
        Overview

    </h2>
    <p>
        This user management system is designed to handle two primary roles: Admin and User. It provides a
        comprehensive set of features for user administration, access control, and user self-management. The system is
        built to be
        scalable, secure, and user-friendly, integrating seamlessly with our application.</p>
    <h3>Role Definitions</h3>
    <p class="font-bold">Admin Role</p>
    <p>
        Administrators have full access to the system and are responsible for managing users, roles, and system
        settings.
    </p>

    <p class="font-bold">
        User Role

    </p>
    <p>
        Regular users have limited access to the system, primarily focused on their own account management and
        authorized
        application features.
    </p>


</div>