.language-selector {
    margin: 10px;
    border-radius:36px;
    display:inline-block;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #cccccc;
  }
  
  select {
    font-size: 16px;
    padding: 5px;
    background: white;
    border-radius: 1px;
  }
  